{% extends "staticpages.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block pagecontent %}
<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7">
    <div class="card bg-secondary border-0">
      <div class="card-header bg-transparent pb-5">
        <h1 class="text-center">Create an Account</h1>
        <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
        {% include 'staticpages_asset/social_media.html' %}
      </div>
      <div class="card-body px-lg-5 py-lg-5">


        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>

        <form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <br />
          <button onclick="location.href = 'http://127.0.0.1:8000/influencer/profile/';" class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock pagecontent %}